* {
  box-sizing: border-box;
}

body {
  background-color: #3a3434;
  color: #ffffff;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  background-color: #637473;
}

button:disabled {
  cursor: auto;
}

.btn {
  color: #ffffff;
  cursor: pointer;
  border: 1px solid rgba(10, 40, 24, 0.827);
  padding: 2px 6px 4px 6px;
  border-radius: 3px;
}

.header-btns {
  display: flex;
  gap: 10px;
}

.header-btns__btn {
  color: #ffffff;
  display: block;
  background-color: #1b6124;
}

.settings {
  margin-top: 20px;
}

.input-fields-container {
  display: flex;
  flex-direction: column;
}

.input-field {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 10px;
}

.input {
  width: 130px;
}

.input-color-picker {
  width: 25px;
  padding: 0px;
}

.input-container__btn {
  text-align: center;
  width: 60px;
  background-color: #637473;
  border-radius: 3px;
  padding: 2px 6px 1px 6px;
}

.control-btns-container {
  display: flex;
  gap: 9px;
}

.control-btns-container__btn {
  text-align: center;
  width: 45px;
}

.btn_race,
.btn_reset {
  width: 60px;
  background-color: #1b6124;
}

.btn_generate {
  width: 97px;
  background-color: #637473;
}

.cars-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.car {
  border-bottom: dashed 2px solid white;
  border-style: none none dashed none ;
}

.car__header,
.car-header__btns{
  display: flex;
  align-items: center;
  height: 30px;
  gap: 5px;
}

.car-header__btn{
  background-color: #637473;
}

.car-drive {
  display: flex;
  position: relative;
}

.car-drive__btns {
  display: flex;
  align-items: center;
  height: 22px;
  gap: 2px;
  margin: 5px 0px 30px 0px;
}

.car-drive__btn {
  background-color: #1b6124;
}

.car-drive__image {
  display: flex;
  align-items: end;
  position: absolute;
  left: 60px;
  z-index: 1;
}

.car-drive__flag {
  width: 35px;
  height: 35px;
  background-image: url(./assets/images/flag.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 100px;
  bottom: 5%;
  z-index: 2;
}

.page-buttons {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.page-buttons__btn {
  padding: 6px 6px 4px 6px;
}

.win-message{
  text-align: center;
  background: rgba(40, 34, 34, 0.971);
  position: absolute;
  top: 55%;
  left: 48%;
  margin-right: -55%;
  transform: translate(-50%, -50%);
  color:#ffffff;
}

.win-message__text{
  text-align: center;
  width: 95%;
  padding-left: 10px;
}

.winners-table-head-row__data{
  border: 1px solid #ffffff;
  padding: 7px;
}

td {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.table-data_image {
  padding: 10px 5px 0px 5px;
}
